:root {
	--font-sans: ui-sans-serif, sans-serif;
	--font-mono: ui-monospace, monospace;

	--width: 800px;
	--spacer: 2rem;
	--text-max-height: 20rem;

	--bg: hsl(50, 9%, 87%);
	--box: hsl(0 0% 100%);
	--transparent: hsl(0 0% 100% / 0);
	--draft: hsl(0 0% 100% / 0.5);
	--text: hsl(0, 0%, 0%);
	--accent-dark: hsl(249, 87%, 50%);
	--accent-light: hsl(240, 100%, 90%);
	--select: hsl(50, 100%, 80%);
	--meta: hsl(0, 0%, 33%);
}

@media (min-width: 769px) {
	:root {
		--spacer: 2.5rem;
		--text-max-height: 50rem;
	}
}

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

::selection {
	background-color: var(--select);
}

:focus-visible {
	outline: 2px solid var(--accent-dark);
	outline-offset: 2px;
}

html {
	font-size: 62.5%;
}

body {
	background-color: var(--bg);
	color: var(--text);
	font: clamp(1.4rem, 2vw, 1.6rem)/1.5 var(--font-sans);
	display: grid;
	align-content: start;
	row-gap: var(--spacer);
	max-width: var(--width);
	min-width: 375px;
	padding: var(--spacer);
	margin: 0 auto;
}

main {
	display: grid;
	row-gap: var(--spacer);
}

a {
	color: var(--accent-dark);
	text-decoration-color: currentColor;
	text-decoration-style: wavy;
	text-decoration-thickness: 0.1em;
	text-underline-offset: 2px;
}

a:hover {
	color: var(--text);
}

h1 {
	font-size: 1.5em;
	line-height: 1;
	margin-block: 0;
}

h1 a {
	color: var(--text);
	text-decoration: none;
}

h1 a:hover {
	text-decoration: underline;
}

blockquote {
	font-style: italic;
	padding-inline-start: 2ch;
	margin-inline: 0;
	border-left: 2px solid var(--bg);
}

blockquote p {
	margin-block: 0;
}

code {
	background-color: var(--bg);
	font-style: italic;
	padding-inline: 0.5ch;
	border-radius: 0.5rem;
}

label {
	display: block;
	padding-block-end: 0.25rem;
}

textarea {
	all: unset;
	background: linear-gradient(var(--box) 30%, var(--transparent)) center top,
		linear-gradient(var(--transparent), var(--box) 70%) center bottom,
		radial-gradient(farthest-side at 50% 0, hsl(0 0% 0% / 0.25), hsl(0 0% 0% / 0)) center top,
		radial-gradient(farthest-side at 50% 100%, hsl(0 0% 0% / 0.25), hsl(0 0% 0% / 0)) center bottom;
	background-repeat: no-repeat;
	background-size: 100% 4rem, 100% 4rem, 100% 1.5rem, 100% 1.5rem;
	background-attachment: local, local, scroll, scroll;
	font-family: var(--font-mono);
	display: block;
	width: -moz-available;
	width: -webkit-fill-available;
	max-height: var(--text-max-height);
	padding: 2rem var(--spacer);
	border-top-right-radius: 0.5rem;
	border-top-left-radius: 0.5rem;
	white-space-collapse: preserve;
	field-sizing: content;
}

textarea:focus-visible {
	outline: none;
}

button {
	cursor: pointer;
}

nav {
	justify-content: end;
}

nav .row {
	flex-grow: 1;
}

.header {
	display: flex;
	column-gap: 2rem;
	align-items: end;
	justify-content: space-between;
}

:is(.input, .button) {
	font-family: var(--font-sans);
	font-size: 0.8em;
	line-height: 1.5;
	padding: 0.325rem 1ch;
	border: 0;
	border-radius: 0.5rem;
}

.block .input {
	background-color: var(--bg);
}

.button {
	color: var(--accent-dark);
	font-weight: bold;
	text-decoration: none;
	display: inline-flex;
	column-gap: 1ch;
}

.button:focus-visible {
	outline-color: var(--accent-dark);
	outline-offset: 0;
}

.button:not(input) {
	background-color: var(--accent-light);
	outline: 2px solid var(--box);
}

.button:not(input):hover {
	background-color: var(--accent-dark);
	color: var(--box);
}

input.button {
	background-color: var(--box);
	border: 2px solid var(--box);
}

.box input.button {
	border-color: var(--accent-dark);
	outline-offset: 2px;
}

.field {
	margin: -1rem calc(var(--spacer) * -1);
}

.meta {
	font-size: 0.8em;
	color: var(--meta);
	margin-block: 0;
}

.pill {
	display: inline-flex;
	padding-inline: 0.5rem;
	border: 1px solid currentColor;
	border-radius: 0.5rem;
}

.box {
	display: grid;
	row-gap: 2px;
	padding-inline: var(--spacer);
}

@media (max-width: 768px) {
	.box {
		margin-inline: calc(var(--spacer) * -1);
	}
}

@media (min-width: 769px) {
	.box {
		border-radius: 0.5rem;
		overflow: hidden;
	}
}

.box:has(textarea:focus-visible) {
	outline: 2px solid var(--accent-dark);
}

.block {
	background-color: var(--box);
	padding: 1rem var(--spacer);
	margin-inline: calc(var(--spacer) * -1);
}

[data-box="draft"] {
	outline: 2px dashed var(--box);
	outline-offset: -2px;
}

[data-box="draft"] .block {
	background-color: var(--draft);
}

[data-box="draft"] [data-block="footer"] {
	border-top: 2px dashed var(--box);
	margin-block-start: -2px;
}

[data-block="text"] {
	padding-block: 2rem;
}

[data-block="footer"] {
	display: flex;
	column-gap: 1.5rem;
	align-items: center;
	justify-content: space-between;
}

.row {
	display: flex;
	align-items: center;
	column-gap: 1rem;
}

.text > *:first-child {
	margin-block-start: 0;
}

.text > *:last-child {
	margin-block-end: 0;
}

.permalink {
	color: currentColor;
	text-decoration: none;
	position: relative;
}

.permalink:any-link:hover {
	color: currentColor;
	text-decoration: underline;
}

.permalink:any-link::before {
	content: '';
	position: absolute;
	inset: -0.5rem -1rem;
}

.footer {
	text-align: center;
}
